<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>{% block title %}Code in Tune{% endblock %}</title>

		<meta name="description" content="Code in real time with your friends, co-workers or use it as a teaching tool.">
		<meta property="og:description" content="Code in real time with your friends, co-workers or use it as a teaching tool.">
		<meta property="og:title" content="Code in Tune - Real-time code editing">
		<meta property="og:image" content="http://www.codeintune.com/img/fb.gif">
		<meta property="og:site_name" content="CodeInTune.com">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="en_US">

		<link href="http://fonts.googleapis.com/css?family=Monda:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body>
		{% block content %}{% endblock %}

		{% block javascript %}
			<script src="/socket.io/socket.io.js"></script>
		{% endblock %}
	</body>
</html>